{% extends 'blog/base.html' %}

    {% block content %}
    <div class="Content">
        <div class="Detail">
            <a class="Detail_small">Titel:</a><br>
            <a class="Detail_input">{{ post.title }}</a><br>
            <br>
            <a class="Detail_small">Text:</a><br>
            <a class="Detail_input">{{ post.text }}</a><br>
            <br>
            <br>
            <a class="Detail_middle">Veröffentlich: {{ post.published_date }}</a><br>
            <a class="Detail_middle">Erstellt: {{ post.created_at }}</a>
        </div>
        <div class="Detail_bottom">
            <a href="{% url 'post_list' %}" id="btn_blue_1">Zurück</a>
            <a href="{% url 'post_edit' pk=post.pk %}" id="btn_blue_1">{% include './icons/pencil-square.svg' %} Bearbeiten</a>
        </div>
    </div>
    {% endblock %}