body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    color: black;
    background-color:cornflowerblue;
    height: 70px;
    display: flex;
    padding-left: 20px;
    text-align: center;
    margin: 0;
    box-shadow: 1px 1px grey;
}

#header_h1 {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.Menu {
    width: 20%;
    float: left;
    font-size: 20px;
    background-color: rgba(0,0,0,0.05) ;
    display: flex;
    padding-bottom: auto;
    line-height: 45px;
    font-weight: bold;
    box-shadow: 1px 1px lightgray;
}

.Menu_ul {
    list-style-type: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: gray;
}

.Content {
    width: 70%;
    float: left;
    height: auto;
    padding-left: 20px;
}

.Post {
    position: relative;;
    width: 70%;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    margin: 10px;
    padding: 10px;
    border-color: lightgray;
    background-color: ghostwhite;
    box-shadow: 1px 1px lightgray;
}

.Detail {
    position: relative;;
    width: 70%;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    margin: 10px;
    padding: 70px;
    padding-bottom: 100px;
    border-color: lightgray;
    background-color: ghostwhite;
    box-shadow: 1px 1px lightgray;
}

.Detail_small {
    font-size: 15px;
    color: grey;
    text-decoration: underline;
}

.Detail_middle {
    font-size: 17px;
    color: grey;
}

.Detail_big {
    font-size: 21px;
}

.Detail_input{
    margin-top: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    width: inherit;
    font-size: 20px;
}

.Detail_bottom {
    position: relative;;
    width: 70%;
    height: 50px;
}

#btn_detail_back {
    position: absolute;
    font-size: 20px;
    left: 50px;
    top: 20px;
}

#btn_detail_edit {
    position: absolute;
    font-size: 20px;
    left: 200px;
    top: 20px;
}

#published_list {
    font-size: 10px;
    color: gray;
}

#btn_edit_list {
    position: absolute;
    font-size: 20px;
    right: 20px;
    bottom: 10px;
    width: 40px;
    height: 30px;
}

#footer {
    width: 100%;
    height: auto;
    display: flex;
    background-color: darkgray;
    position: absolute;
    bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer_a {
    text-align: center;
    font-size: 16px;
    width: 100%;
}